a{
    text-decoration: none;
}
/* START Navbar */
.navbar .navbar-brand img{
    height: 150px;
    width: 200px;   
    margin-right: -5rem; 
}

.navbar .nav-item a{
    font-weight: bolder;
    margin-left: 1rem;
    margin-right: 1rem;
    text-shadow: 2px 2px black;
    -webkit-text-fill-color: white; 
}

/* Hover Menu Navigasi*/
nav ul li a,
nav ul li a:after,
nav ul li a:before{
  transition: all .5s;
}
nav ul li a:hover,
#menu-atas ul li.active a {
  color: #555;
}

#menu-atas ul li a {
  position: relative;
}
#menu-atas ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #9ed1d4;
  height: 1px;
}
#menu-atas ul li a:hover:after{
  width: 100%;
}

/* start search icon */  
  body *, html * {
    box-sizing: border-box;
  }
  
  .search-box {
    display: block;
    position: relative;
    margin-top: 0.5rem;
  }
  
  .search-box input[type=text] {
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all 0.25s ease-in 0.25s;
    color: transparent;
    font-size: 0.75rem;
    line-height: 25px;
  }
  .search-box input[type=text]:hover {
    cursor: pointer;
  }
  .search-box input[type=text]:hover:focus {
    cursor: text;
  }
  .search-box input[type=text]:hover + span {
    background: rgba(255, 255, 255, 0.2);
  }
  .search-box input[type=text]:focus {
    width: 200px;
    padding: 0 10px;
    outline: none;
    color: black;
    background: none;
    color: white;
  }
  .search-box input[type=text]:focus + span {
    width: 200px;
  }
  .search-box input[type=text]:focus + span::before {
    width: 2px;
    opacity: 0;
    transition: all 0.25s ease-in;
  }
  .search-box input[type=text] + span {
    z-index: -1;
    position: absolute;
    border: 2px solid white;
    top: 0;
    width: 25px;
    height: 25px;
    transition: all 0.25s ease-in 0.25s;
    border-radius: 25px;
    left: 0;
  }
  .search-box input[type=text] + span::before {
    transition: all 0.25s ease-in 0.5s;
    transform-origin: left top;
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: white;
    transform: rotate(45deg) translate(26px, -2px);
  }
/* end search icon */
/* END Navbar */

/* START Carousel */
/* taruh carousel di atas, jadi satu sama navbar */
#topCarousel{
    position:relative;
    width:100%;
    top:-50px;
}

  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
   bottom: 3rem;
   z-index: 10;
}
  
/* Declare heights because of positioning of img element */
.carousel-item {
   height: 36rem;
}
.carousel-item > img {
   position: absolute;
   top: 0;
   left: 0;
   min-width: 100%;
   height: 36rem;
   object-fit:cover;
}

.carousel .carousel-caption h1{
    margin-top: -15rem;
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    -webkit-text-fill-color: white; 
}
/* end ubah height carousel */

/* END Carousel */

/* START Divider */
.divider{
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
    border: 1px solid black;
}
/* END Divider */

/* START FORM CARI EVENT */
.form-cari-event form{
    background-color: white;
    border-radius: 2rem !important;
    padding: 1rem 5rem;
    margin-top: -120px;
    display: flex;
    align-items: center;
    position: absolute;
}

.form-cari-event form i{
    color: #1943d4;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    background: #d6dfff;
}
.form-cari-event form label{
    font-weight: bold;
}
/* END FORM CARI EVENT */

/* START DESTINASI PILIHAN */
#destinasi-pilihan a{
    text-decoration: none;
}

.zoom-hovered .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.zoom-hovered .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#destinasi-pilihan .card .card-body img,
#informasi-umum .card .card-body img{
    height: 15rem;
}

#destinasi-pilihan .card-footer:last-child,
#informasi-umum .card-footer:last-child,
#semua-kategori .card-footer:last-child {
    border-radius: 0!important;
}

#destinasi-pilihan .card-footer,
#informasi-umum .card-footer,
#semua-kategori .card-footer {
    padding: 0!important;
    background: rgba(0, 0, 0, 0.7);    /*  70% opaque green */ 
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#destinasi-pilihan .card-img-overlay,
#informasi-umum .card-img-overlay,
#semua-kategori .card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;   
}
/* END DESTINASI PILIHAN */

/* START KATEGORI */
.kategori-container{
    background-color: #f9fbff;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.left-line h2{
    display: flex;
    align-items: center;
    justify-content: left;
}

.left-line h2 span {
    margin: 0 15px;
}

.left-line h2:before{
  background: rgb(109, 106, 106);
  height: 3px;
  flex: 0.1; /*atur panjang garis samping judul*/
  content: '';
}

.kategori-container .button-slider a{
    margin-right: -10px;
}

.kategori-container .button-slider .fas{
    color: #3075c6;
    padding: 0.4rem 0.5rem;
    border-radius: 50%;
    border: 1px solid #3075c6;
}

.kategori-container .button-slider .fas:hover{
    color: #fff;
    background-color: #3075c6;
}

.kategori{
    overflow-x: hidden;
    white-space: nowrap;
}

.kategori .card-footer{
    background-color: #f9fbff;;
}

.kategori .card .card-body img{
    height: 10rem !important;
    width: 100%;
    border-radius: 0.8rem;
}

.kategori .card .card-footer h6{
    font-size: 11px;
    font-weight: bold;
}

.kategori .card:hover{
    transform: scale(1.05);
}
/* END KATEGORI */

/* START PESONA WISATA */
#carouselPesona-container{
    background-color: #f9fbff;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding-bottom: 0px !important;
}

#carouselPesona .carousel-item iframe{
    border-radius: 1rem;
}

#carouselPesona .carousel-control-next, .carousel-control-prev {
    height: 10%;
    margin-top: 20%;
}
/* END PESONA WISATA */

/* START BUTTON LIHAT SEMUA WISATA */
#btnLihatSemuaWisata{
    border-radius: 0.5rem;
}
/* END BUTTON LIHAT SEMUA WISATA */


/* START BREADCRUMB */
.breadcrumb{
  margin-top: -2.5rem;
}

.breadcrumb li{
  font-weight: bold !important;
}

.breadcrumb > li + li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f105 " !important; /* UBAH SEPARATOR PAKAI RIGHT ARROW */
    padding-top: 2px;
}
/* 
.breadcrumb li a{
  color: black !important;
} */
/* END BREADCRUMB */

/* START HASIL PENCARIAN */
#pencarian form{
  position: relative;
}
#pencarian input{
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}
#pencarian .form-input:focus{
  outline: none !important;
  border: none;
  box-shadow: 0 0 10px #7e7b52;
}
#pencarian .left-pan{
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
  padding-left: 7px;
}

#pencarian .left-pan .fa{
  padding-left: 10px;
}

#hasil-pencarian img{
  height: 220px;
  width: 300px;
  margin-top: 0.5rem;
}
/* END HASIL PENCARIAN */

/* START Footer */
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#146368;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
/* END Footer */